* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#itemsCarousel {
    height: 450px;
    overflow: hidden;
}

.carousel {
    height: 100%;
    position: relative;
}

.tarjetaCarousel {
    height: 100%;
}

.flechasCarousel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

i {
    color: black;
}

img {
    width: 100%;
    height: 100%;
}

.tarjetaCarousel {
    position: relative;
}
