* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.carrito {
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;   
}

.unit-carrito img { 
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.productos-carrito {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}

.productos-carrito>div{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #77C02C;
    border-radius: 20px;
}

.productos-carrito>div:hover {
    background-color: #5f9728;
}

.descripcion { 
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.descripcion>p:first-child {
    font-size: 15px;
    font-weight: 300;
}

.descripcion .precio {
    font-size: 20px;
    font-weight: 500;
}

.descripcion .precio span {
    font-size: 17px;
    font-weight: 300;
}

.descripcion button {
    background-color: #223e06;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    border: none;

    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
    color: white;
}

.descripcion button:hover { 
    background-color: #a4c880;
}

/*bolsa carrito */
.carrito-compras {
    border:1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top:0;
    transition: .3s;
    opacity: 1;
}

.carrito-compras .header-carrito {
    background-color: #5f9728;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.carrito-compras .carrito-item {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}

.carrito-compras .carrito-item img {
    margin-right: 20px;
}

.carrito-compras .carrito-item .carrito-item-titulo {
    display:block;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform:uppercase;
}

.carrito-compras .carrito-item .selector-cantidad{
    display:inline-block;
    margin-right: 25px;  
}

.carrito-compras .carrito-item .carrito-item-cantidad{
    border:none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width:30px;
    padding:5px;
    text-align: center;
}

.carrito-compras .carrito-item .selector-cantidad i {
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border:1px solid #000;
    cursor: pointer;
}

.carrito-compras .carrito-item .carrito-item-precio {
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrito-compras .carrito-item .btn-eliminar {
    position: absolute;
    right: 15px;
    top : 15px;
    color : #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.carrito-compras .carrito-item .btn-eliminar i {
    pointer-events: none;
}

.carrito-total {
    background-color: #f3f3f3;
    padding:30px;
}

.carrito-total .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar {
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrito-total .btn-pagar:hover {
    scale: 1.05;
}
