* {
    font-family: 'Open Sans', sans-serif;
}



.mapa img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

main {
    margin-top: 30px;
    display: flex;
    justify-content:space-around;/* Distribuye las secciones a lo largo del contenedor principal */
    /*background-color: blue;
    background-position: 0; tengo problemas con ponerle un fondo*/
}

#contact-Left , #contact-us ,.li-Left{
    border-radius: 10px;/*bordes redondos*/
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);/* Añade una sombra al cuadrado */
    background-color: rgba(223, 202, 159, 0.39);  
}

#contact-Left {
    width: 350px; /* Ancho de la caja */
    height: 400px;
    padding: 70px 20px 70px 20px;  
    /*---posicion---*/
    position: relative;
    margin-left: 20%;
    margin-top: 5%;
   
}

#contact-us {
    width: 500px; /* Ancho de la caja */
    height: 550px;
    padding: 50px 30px 50px 30px;
    /*---posicion---*/
    position: relative;
    margin-right:20%;
    margin-bottom: 40px; 
    text-align: center;/*con esto el boton me queda centrado*/
}

.img-list , #redes{
    height: 40px;
    width: 40px;
}

.list {
    width: 150px;
    padding-top: 15px;
    padding-left: 10px;
}
.img-list{
    margin: 5px 0px 5px 5px;
}

.ul-Left {
    list-style: none;
}

.li-Left {
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    text-shadow: 2px 2px 4px rgba(3, 0, 0, 0.8);
}


.text-redes {
    padding-top: 10px;
    text-align: center;
}

.redes {
    display: flex;
    justify-content: center;/* Centra horizontalmente */
    align-items: center;/* Centra verticalmente */
    margin-top: 15px;
}

#redes{
    margin-right: 15px;/* Ajusta el margen derecho para separar los logos */
}

/*--------------Contact-us FORMULARIO----------------------*/

h2 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(3, 0, 0, 0.8);
}

.formulario {
    margin: 20px auto;
}

.formulario input[type="text"],
.formulario input[type="mail"],
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.formulario textarea {
    height: 100px;
}

.formulario button {
    /* Centra los elementos en el centro horizontalmente */
    padding: 10px 20px;
    margin-top: 15px;
    background-color: rgba(224, 189, 120, 0.411);
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: rgba(28, 160, 68, 0.356);
}

/*para centrar el select*/
.marca-container {
    display: inline-block;
    width: 440px;
    text-align: left;
}

select {
    margin-left: 10px;
}

/*para centrar el checkbox*/
.checkbox-container{
    display: flex;
    align-items: center;
    margin-top:10px;
}
.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.textmod {
    color :rgb(172, 83, 212)
}
